<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="page-header-fixed bg-1">
    <div class="modal-shiftfix">
        <div class="navbar navbar-fixed-top scroll-hide">
            <div class="container-fluid top-bar">
                @{ Html.RenderPartial(@"~/Views/Home/SignInNavPartial.cshtml"); }
                <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Radium</a>
                <form class="navbar-form form-inline col-lg-2 hidden-xs">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </div>
            <div class="container-fluid main-nav clearfix">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="#"><span aria-hidden="true" class="fa fa-home"></span>Главная</a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="fa fa-star-o"></span>УИ компоненты<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="notifications label label-warning">New</span>
                                        <p>
                                            Глификонс
                                        </p>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">Компоненты</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="fa fa-list"></span>Новости<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Form Components</a>
                                </li>
                                <li>
                                    <a href="#">Advanced Forms</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="notifications label label-warning">New</span>
                                        <p>
                                            X-Editable
                                        </p>
                                    </a>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="fa fa-table"></span>Таблицы<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Basic tables</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="notifications label label-warning">
                                            New
                                        </div>
                                        <p>
                                            Editable DataTables
                                        </p>
                                    </a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/custom")
    @Scripts.Render("~/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
